@import './_reset';

#app {
  font-family: 16px/1.5 "Helvetica Neue For Number", 
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* variables */
$primary-color: #13e0bc;


body {
  background-color: #f7f7f7;
}
/* header */
header {
  a {
    display: flex;
    // background-color: $primary-color;
    align-items: center;
    text-decoration: none;
    padding-left: 15%;
    height: 100px;

    h1 {
      font-size: 28px;
      color: #345;
    }
  }
}

/* nav */
.nav,
.container {
  width: 70%;
  margin: 0 auto;
}

ul.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, $alpha: .04);
  background-color: #fff;

  li {
    a {
      font-size: 14px;
    }

    a.router-link-active {
      color: $primary-color;
    }
  }
}

/* container */